<!DOCTYPE HTML>
<html lang="sv">
    <head>
        <meta charset="utf-8">
        <title>Mörtfors Vitvaror</title>

    </head>
    <body>

        <nav>
            <ul>
                <li></li>
            </ul>
        </nav>

        <div>
            {% for row in products %}
            <h3>Namn: {{"%s" % (row[0])}}</h3>
            <p>Märke: {{"%s" % (row[2])}}</p>
            <p>Beskrivning: {{"%s" % (row[1])}}</p>
            <h4>Pris: {{"%s" % (row[3])}}</h4>
            {% endfor %}
        </div>

    </body>


</html>
