<!DOCTYPE HTML>
<html lang="sv">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <title>Mörtfors Vitvaror</title>

    </head>
    <body>
        <div id="wrapper">
            <header>
                <h1>Mörtfors vitvaror</h1>
            </header>
            <nav>
                <ul>
                    <li><a href="#">Meny</a></li>
                    <li><a href="/sort">Sortera...</a></li>
                </ul>
            </nav>
            <h3>Alla produkter</h3>
            <div>
              % for row in products:
            <section>
              <p> <img src="{{ (row[4]) }}"></p>
                <article>
                  <h3>{{ (row[0]) }}</h3>
                  <p>Märke: {{ (row[2]) }}</p>
                  <p>{{ (row[1]) }}</p>
                  <h4>Pris: {{ (row[3]) }}:-</h4>
                </article>
            </section>
              % end
            </div>
        </div>
    </body>
</html>
