<!DOCTYPE HTML>
<html lang="sv">
    <head>
        <meta charset="utf-8">
        <title>Mörtfors Vitvaror</title>
    </head>
    <body>
        <nav>
          <h1>Mörtfors vitvaror</h1>
          <h3>Alla produkter</h3>
          <ul>
            <li><a href="/">Meny</a></li>
            <li><a href="#">Sortera...</a></li>
          </ul>
        </nav>
        <div>
          <h2>Sortera efter... </h2>
          <p><a href="/sorting">Tvättmaskiner</a></p>
          <p><a href="/fridge">Kylskåp</a></p>
          <p><a href="/oven">Spisar</a></p>
          <p><a href="/dish">Diskmaskiner</a></p>
        </div>
    </body>
</html>
