<!DOCTYPE HTML>
<html lang="sv">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <title>Mörtfors Vitvaror</title>

    </head>
    <body>
        <div id="wrapper">
            <header>
                <h1>
                    <a href="/">Mörtfors vitvaror</a>
                </h1>
            </header>

            <div class="row">
                <div class="hej">
                    <form action="/search" method="post">
                        <input type="text">
                        <button type="submit">sök</button>
                    </form>
                </div>
                <div class="hej">
                    <h4>Kategorier</h4>
                    <ul>
                      % for row in category:
                        <li><a href="/category/{{(row [0])}}">{{(row [0])}}</a></li>
                      % end
                    </ul>
                </div>
                <div class="hej">
                    <h4>Märken</h4>
                    <ul>
                      % for row in brand:
                        <li><a href="/brand/{{(row [0])}}">{{(row [0])}}</a></li>
                      % end
                    </ul>
                </div>
                <div class="hej">
                    <h4>Pris</h4>
                    <ul>
                        <li><a href="/min_pris">Lägsta...</a></li>
                        <li><a href="/max_pris">Högsta...</a></li>
                        <input type="range">
                    </ul>
                </div>

            </div>
            <h3 class="gles">Produkter:</h3>
            <div>
              % for row in products:
            <section>
              <p> <img src="{{ (row[4]) }}"></p>
                <article>
                  <h3>{{ (row[0]) }}</h3>
                  <p><i>Märke: {{ (row[2]) }}</i></p>
                  <h4 class="gles">{{ (row[3]) }}:-</h4>
                  <p>{{ (row[1]) }}</p>

                </article>
            </section>
              % end
            </div>
        </div>
    </body>
</html>
