
.idea/kajlou.iml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/workspace.xml

admin/__pycache__/bottle.cpython-35.pyc

2.0/.idea/workspace.xml

admin/.idea/2.0.iml

admin/.idea/misc.xml

admin/.idea/modules.xml

customer/__pycache__/bottle.cpython-35.pyc

2.0/__pycache__/bottle.cpython-35.pyc

2.0/__pycache__/bottle.cpython-35.pyc

*.pyc

admin/.idea/workspace.xml

customer/.idea/2.0.iml

customer/.idea/misc.xml

customer/.idea/modules.xml

customer/.idea/workspace.xml

2.0/__pycache__/bottle.cpython-35.pyc
