@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i');
body {
    margin: 0;
    background-color:whitesmoke;
    color: darkgrey;
    font-family: 'Open Sans', sans-serif;
}
header h1 a {
    text-decoration: none;
    color:#555;
}
header h1 a:hover {
    color:#222;
}
#wrapper {
    width:1400px;
    margin: auto;
    background-color: white;
    overflow: hidden;
    padding:20px 40px;
}
nav {
    width:100%;
    margin: auto;
    background-color: white;
    padding: 2px 12px; 
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    padding: 10px;
}
nav a {
    color: gainsboro;
    text-decoration: none;
}
nav a:hover {
    color: cadetblue;
}
nav a .active {
    text-decoration: underline;
}
.center {
    text-align: center;
}
.gles {
    letter-spacing: 1.5px;
}
section {
    transition: ease 1s;
    padding: 30px;
    border:1px dashed #eee;
    width: 90%;
    float: left;
    margin: 1%;
    box-sizing: border-box;
}
section:hover {
    //opacity: 1.0;
    
}
section img {
    display: inline;
    width:35%;
    float: left;
    //margin-left:10%;
}
section article {
    width:60%;
    float: left;
    border:10px solid white;
    overflow: scroll;
    height:250px;
    box-sizing: border-box;
}
.row {
    width:100%;
    display:block;
    border-top:1px dashed #eee;
    overflow: hidden;
}
.hej {
    float:right;
    width:10%;
    padding: 20px;
    overflow:hidden;
}
.hej ul {
    padding-left:10px;
    list-style: none;
}
.hej a {
    color:dimgrey;
    text-decoration: none;
}
.hej a:hover {
    color:darkcyan;
}
i {
    color: #ccc;
}




