@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i');
body {
    margin: 0;
    background-color:whitesmoke;
    color: darkgrey;
    font-family: 'Open Sans', sans-serif;
}
header h1 a {
    text-decoration: none;
    color:#555;
}
header h1 a:hover {
    color:#222;
}
#wrapper {
    width:1400px;
    margin: auto;
    background-color: white;
    overflow: hidden;
    padding:20px 40px;
    min-height: 600px;
}
nav {
    width:100%;
    margin: auto;
    background-color: white;
    padding: 2px 12px; 
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    padding: 10px;
}
nav a {
    color: gainsboro;
    text-decoration: none;
}
nav a:hover {
    color: cadetblue;
}
.active {
    text-decoration: underline;
}
.center {
    text-align: center;
}
.gles {
    letter-spacing: 1.5px;
}
section {
    transition: ease 1.5s;
    padding: 10px;
    border:1px dashed #eee;
    width: 22%;
    float: left;
    margin: 1%;
    box-sizing: border-box;
    overflow: hidden;
}
.stock {
    height: 480px; 
    overflow: scroll;
}
.staff {
    height: 350px !important;
}
.stock img {
    height: 100px;
}
.pid {
    text-align: center;
    margin:10px;
    float:right;
    padding:10px;
    width: 22px;
    border-radius: 30px;
    //background-color:azure;
    border:1px dashed #ddd;
}
.rubbe {
    margin-bottom: -10px;
}

#inventory-section {
    width:40%;
}
section.wider {
    width:500px !important;
    height: 600px !important;
}

section article {
    width:100%;
    margin-top: 20px;
    float: left;
    border:5px solid white;
    overflow:scroll;
    //height:300px;
    box-sizing: border-box;
}

th, td {
    padding:15px;
    text-align: left;
}
#inventory-table th, td{
    width:25%;
    box-sizing: border-box;
    padding: 10px !imporant;
    box-sizing: border-box;
    width:30%;
    text-align:left;
}
td a{
    color:#777;
    text-decoration: none;
}
td a:hover {
    color: #222;
    //transition:ease 1s;
}
.active {
    color:#222;
}
.row {
    width:100%;
    display:block;
    border-top:1px dashed #eee;
    overflow: hidden;
    display: block;
}
.row ul {
    list-style: none;
    //padding: 0;
}
.row ul li {
    display: inline;
    padding: 10px;
}
.row a {
    color: gainsboro;
    text-decoration: none;
}
.row a:hover {
    color: cadetblue;
}

.hej {
    float:right;
    width:10%;
    padding: 20px;
    overflow:hidden;
}
.hej ul {
    padding-left:10px;
    list-style: none;
}
.hej a {
    color:dimgrey;
    text-decoration: none;
}
.hej a:hover {
    color:darkcyan;
}
i {
    font-weight: 100;
}
.capitalize {
    font: capitalize;
}

.dotted td{
    border-bottom: 1px dotted #ccc;
    width: 30%;
}

div.tooltip {
    position: relative;
    /*  DO NOT include below two lines, as they were added so that the text that
        is hovered over is offset from top of page*/
    top: 10em;
    left: 10em;
    /* if want hover over icon instead of text based, uncomment below */
        /*    background-image: url("../images/info_tooltip.svg");
            /!* width and height of svg *!/
            width: 16px;
            height: 16px;*/
 }

/* hide tooltip */
.tooltip span {
    display: none;
}

/* show and style tooltip */
.tooltip:hover span {
    /* show tooltip */
    display: block;
    /* position relative to container div.tooltip */
    position: absolute;
    bottom: 1em;
    /* prettify */
    padding: 0.5em;
    color: #000000;
    background: #ebf4fb;
    border: 0.1em solid #b7ddf2;
    /* round the corners */
    border-radius: 0.5em;
    /* prevent too wide tooltip */
    max-width: 10em;
    transition: 1s ease;    
}
