<!DOCTYPE HTML>
<html lang="sv">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <title>Kundlista</title>

    </head>
    <body>
        <div id="wrapper">
            <header>
                <h1>
                    <a href="/">Mörtfors vitvaror</a>
                </h1>
            </header>
            <nav>
                <ul>
                    <li><a class="active" href="/customers">Kundlista</a></li>
                    <li><a href="/inventory">Lager</a></li>
                    <li><a href="/sales">Kvitton</a></li>
                    <li><a href="/suppliers">Återförsäljare</a></li>
                </ul>
            </nav>
            
            
            <div class="row">
            </div>
            
           
            
            
        </div>
    </body>
</html>
