<!DOCTYPE HTML>
<html lang="sv">
    <head>
        <meta charset="utf-8">
         <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <title>Kundlista</title>

    </head>
    <body>
        <div id="wrapper">
            <header>
                <h1>
                    <a href="/">Mörtfors vitvaror</a>
                </h1>
            </header>
            <nav>
                <ul>
                    <li><a class="active" href="/customers">Kundlista</a></li>
                    <li><a href="/inventory">Lager</a></li>
                    <li><a href="/sales">Kvitton</a></li>
                    <li><a href="/suppliers">Återförsäljare</a></li>
                </ul>
            </nav>
            
            
            <div class="row">
                <ul>
                    <li><a href="/customers/name">Namn</a></li>
                    <li><a href="/customers/region">Region</a></li>
                    <li><a href="/customers">Värde</a></li>
                    <li><a href="/customers/search)">Sök</a></li>
                </ul>
            </div>
            
            <section>
                <article>
                    
                    
                    <table>
                        <form method="post" action="/add_customer">
                            <tr>
                                <td>
                                    <i class="material-icons">perm_identity</i> 
                                </td>
                                <td>
                                    <input type="text" id="customer_name" name="customer_name" placeholder="För- och efternamn" required><br>
                                    <input name ="pno" id="pno" type="text" placeholder="Personnummer" required>
                                </td>
                            </tr>
                            <tr>
                                <td><i class="material-icons">email</i></td>
                                <td><input name="email" id="email" type="text" placeholder="email" required></td>
                            </tr>
                            <tr>
                                <td><i class="material-icons">location_on</i></td>
                                <td>
                                    <input type="text" id="address" name="address" placeholder="Adress" required> <br>
                                    <input type="text" id="postno" name="postno" placeholder="Postnr" required> <br>
                                    <input type="text" id="region" name="region" placeholder="Ort">
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><button type="submit">Registrera</button></td>
                            </tr>
                        </form>
                    </table>
                </article>
            </section>
            
            
             % for row in customers:
            <section>
                <article>
                    <table>
                        <tr>
                            <th><i class="material-icons">perm_identity</i></th>
                            <th>{{ (row[1]) }} <br>{{ (row[0]) }}</th>
                        </tr>
                        <tr>
                            <td><i class="material-icons">email</i></td>
                            <td>{{ (row[2]) }}</td>
                        </tr>
                        <tr>
                            <td><i class="material-icons">location_on</i></td>
                            <td>{{ (row[3]) }} <br>{{ (row[4]) }} <br>{{ (row[5]) }}</td>
                        </tr>
                        <tr>
                            <td><i class="material-icons">shopping_cart</i></td>
                            <td>{{ (row[6]) }}kr</td>
                        </tr>
                    </table>
                </article>
            </section>
              % end
            
           
            
            
        </div>
    </body>
</html>
