<!DOCTYPE HTML>
<html lang="sv">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <title>Mörtfors Vitvaror Admin</title>

    </head>
    <body>
        <div id="wrapper">
            <header>
                <h1>
                    Hoppsan!
                </h1>
            </header>
             
            
            <p>Antalet överstiger antalet produkter i lager!
        
            </p>
            <a href="/sales">Tillbaka till köp!</a>
            
            
            
            
            
        </div>
    </body>
</html>
