<!DOCTYPE HTML>
<html lang="sv">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <title>Mörtfors Vitvaror Admin</title>

    </head>
    <body>
        <div id="wrapper">
            <header>
                <h1>
                    Error {{ error_code }}
                </h1>
            </header>
             
            
            <p>Hoppsan något blev fel!</p>
            <a href="/">Tillbaka till startsidan!</a>
            
            
            
            
            
        </div>
    </body>
</html>
