<!DOCTYPE HTML>
<html lang="sv">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <title>Lager</title>

    </head>
    <body>
        <div id="wrapper">
            <header>
                <h1>
                    <a href="/">Mörtfors vitvaror (admin)</a>
                </h1>
            </header>

            <nav>
                <ul>
                    <li><a href="/customers">Kundlista</a></li>
                    <li><a class="active" href="/inventory">Lager</a></li>
                    <li><a href="/sales">Kvitton</a></li>
                    <li><a href="/suppliers">Återförsäljare</a></li>
                    <li><a href="/staff">Personal</a></li>
                </ul>
            </nav>

            <div class="row">
                <ul>
                    <li><a class="active" href="/inventory">Finns på lager</a></li>
                    <li><a href="/out_of_stock">Finns ej på lager</a></li>
                </ul>
            </div>

            <section class="stock">
                <article>
                    <table>
                        Lägg till ny vara:
                        <form method="post" action="/add_product">
                            <tr>
                                <td>
                                    <i class="material-icons">loyalty</i>
                                </td>
                                <td>
                                    <input type="text" id="product_name" name="product_name" placeholder="Produktnamn" required><br>
                                    <input name="brand" id="brand" type="text" placeholder="Märke" required> <br>
                                    <input name="category" id="category" type="text" placeholder="Kategori" required><br>
                                    <input type="number" id="price" name="price" placeholder="Pris" required>
                                </td>
                            </tr>
                            <tr>
                                <td><i class="material-icons">perm_media</i></td>
                                <td><input name="product_image" id="product_image" type="text" placeholder="Bild URL" required></td>
                            </tr>
                            <tr>
                                <td><i class="material-icons">description</i></td>
                                <td><textarea id="description" name="description" placeholder="Beskrivning"></textarea></td>
                            </tr>
                            <tr>

                                <td><i class="material-icons">store</i></td>

                                <td>
                                    <input type="text" id="supplier" name="supplier" placeholder="Återförsäljare" required><br>
                                    <input type="number" id="cost" name="cost" placeholder="Kostnad" required>

                                </td>
                            </tr>
                            <tr>
                                <td><i class="material-icons">receipt</i></td>
                                <td><input type="number" id="quantity" name="quantity" placeholder="Antal"></td>
                            </tr>

                            <tr>
                                <td></td>
                                <td><button class="knapp" type="submit">Registrera vara</button></td>
                            </tr>
                        </form>
                    </table>
                </article>
            </section>

            <section class="stock">
                <article>
                    <table class="inventory-table">
                        Lägg till befintlig vara:
                        <form method="post" action="/update_product">
                            <tr>
                                <th>
                                    <i class="material-icons">loyalty</i>
                                </th>
                                <td>
                                    <input type="text" id="x_product_id" name="x_product_id" placeholder="Produkt id" required><br>
                                </td>
                            </tr>
                            <tr>

                                <th><i class="material-icons">store</i></th>
                                <td>
                                    <input type="text" id="x_supplier" name="x_supplier" placeholder="Återförsäljare" required>
                                </td>
                            </tr>
                            <tr>
                                <th><i class="material-icons">receipt</i></th>
                                <td><input type="number" id="x_quantity" name="x_quantity" placeholder="Antal att lägga till"></td>
                            </tr>

                            <tr>
                                <td></td>
                                <td><button class="knapp" type="submit">Uppdatera vara</button></td>
                            </tr>
                        </form>
                    </table>
                </article>
            </section>



             % for row in stock:
            <section class="stock">

                <p alt="Produktnr." class="pid">{{ (row[8]) }}</p>
                <img src="{{ (row[3]) }}">
                <article>
                    <table class="inventory-table">

                        <h3>{{ (row[1]) }} {{ (row[0]) }} {{ (row[7]) }}</h3>

                        <tr>
                            <th>
                                <i class="material-icons">store</i>
                            </th>
                            <td>{{ (row[4]) }}</td>
                        </tr>
                        <tr>
                            <th><i class="material-icons">payment</i></th>
                            <td>{{ (row[6]) }} kr </td>
                        </tr>
                        <tr>
                            <th><i class="material-icons">assessment</i></th>
                            <td>{{ (row[2])-(row[6]) }} kr</td>
                        </tr>
                        <tr>
                            <th><i class="material-icons">receipt</i></th>
                            <td>{{ (row[5]) }} st på lager</td>
                        </tr>

                    </table>
                </article>
            </section>
              % end


        </div>
    </body>
</html>
