<!DOCTYPE HTML>
<html lang="sv">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <title>Lager</title>

    </head>
    <body>
        <div id="wrapper">
            <header>
                <h1>
                    <a href="/">Mörtfors vitvaror (admin)</a>
                </h1>
            </header>

            <nav>
                <ul>
                    <li><a href="/customers">Kundlista</a></li>
                    <li><a class="active" href="/inventory">Lager</a></li>
                    <li><a href="/sales">Kvitton</a></li>
                    <li><a href="/suppliers">Återförsäljare</a></li>
                    <li><a href="/staff">Personal</a></li>
                </ul>
            </nav>

            <div class="row">
                <ul>
                    <li><a href="/inventory">Lager</a></li>
                    <li><a class="active" href="/out_of_stock">Ej på lager</a></li>
                </ul>
            </div>

             % for row in out_of_stock:
            <section class="stock">
                <p alt="Produktnr." class="pid">{{ (row[8]) }}</p>
                <img src="{{ (row[3]) }}">
                <article>
                    <table id="inventory-table">

                        <h3>{{ (row[1]) }} {{ (row[0]) }} {{ (row[7]) }}</h3>

                        <tr>
                            <td><i class="material-icons">store</i></td>
                            <td>{{ (row[4]) }}</td>
                        </tr>
                        <tr>
                            <td><i class="material-icons">payment</i></td>
                            <td>{{ (row[6]) }} kr </td>
                        </tr>
                        <tr>
                            <td><i class="material-icons">assessment</i></td>
                            <td>{{ (row[2])-(row[6]) }} kr</td>
                        </tr>
                        <tr>
                            <td><i class="material-icons">receipt</i></td>
                            <td>{{ (row[5]) }} st på lager</td>
                        </tr>
                    </table>
                </article>
            </section>
              % end


        </div>
    </body>
</html>
