<!DOCTYPE HTML>
<html lang="sv">
    <head>
        <meta charset="utf-8">
         <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <title>Kundlista</title>

    </head>
    <body>
        <div id="wrapper">
            <header>
                <h1>
                    <a href="/">Mörtfors vitvaror (admin)</a>
                </h1>
            </header>
            <nav>
                <ul>
                    <li><a href="/customers">Kundlista</a></li>
                    <li><a href="/inventory">Lager</a></li>
                    <li><a class="active" href="/sales">Kvitton</a></li>
                    <li><a href="/suppliers">Återförsäljare</a></li>
                    <li><a href="/staff">Personal</a></li>
                </ul>
            </nav>
            
            <section class="stock">
                <table>
                        <form method="post" action="/begin_sales">
                            <tr>
                                <td>
                                    <i class="material-icons">perm_identity</i> 
                                </td>
                                <td>
                                    <input type="text" id="customer_id" name="customer_id" placeholder="Kundnummer" required><br>
                                    <input name="staff_id" id="staff_id" type="text" placeholder="Personal id" required>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><button class="knapp" type="submit">Påbörja köp</button></td>
                            </tr>
                        </form>
                        
                        <form method="POST" action="add_product_to_sales">
                            <tr>
                                <td><i class="material-icons">loyalty</i></td>
                                <td>
                                    <input type="text" id="product_id" name="product_id" placeholder="Produkt id" required><br>
                                    <input type="number" id="quantity" name="quantity" placeholder="Antal" required>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><button class="knapp" type="submit">Lägg till vara i köp</button></td>
                            </tr>
                        </form>

                            <tr>
                                <td></td>
                                <td><form action="/finish_sales" method="POST"><button class="knapp" type="submit">Avsluta köp!</button></form></td>
                            </tr>
                            
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                        
                    </table>
                
            </section>
            
            <div class="container">
             % for row in start:
                
              
            <section class="stock wider">
                <article>
                    <table id="inventory-table">   
                        <p>{{ (row[4]) }}</p>
                        <thead>
                            <th>Kvittonr:</th>
                            <th>Kundnr:</th>
                            <th>Försäljare:</th>
                            <th></th>
                        </thead>
                        <tbody>
                            <td>{{ (row[0]) }}</td>
                            <td>{{ (row[1]) }}</td>
                            <td>{{ (row[2]) }}</td>
                            <th></th>
                        </tbody>
                    </table>
                    <hr>
                    <table>
                        <thead>
                            <th>id</th>
                            <th>Produkt</th>
                            <th>Pris</th>
                            <th>Antal</th>
                        </thead>
                        <tbody>
                            
                            % for p in products[str(row[0])]:
                            <tr class="dotted">
                                <td>{{ (p[0]) }}</td>
                                <td>{{ (p[2]) }} {{ (p[1]) }}</td>
                                <td>{{ (p[3]) }} kr</td>
                                <td>{{ (p[4]) }} st</td>
                            </tr>
                
                            % end
                            
                            <tr>
                                <td>Totalt: </td>
                                <td>{{ (row[3]) }} kr</td>
                            </tr>
                            
                            
                        </tbody>
                    </table>
                </article>
            </section>
              % end
            </div>
            
           
            
            
        </div>
    </body>
</html>
