<!DOCTYPE HTML>
<html lang="sv">
    <head>
        <meta charset="utf-8">
         <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <title>Kundlista</title>

    </head>
    <body>
        <div id="wrapper">
            <header>
                <h1>
                    <a href="/">Mörtfors vitvaror (admin)</a>
                </h1>
            </header>
            <nav>
                <ul>
                    <li><a href="/customers">Kundlista</a></li>
                    <li><a href="/inventory">Lager</a></li>
                    <li><a href="/sales">Kvitton</a></li>
                    <li><a href="/suppliers">Återförsäljare</a></li>
                    <li><a class="active" href="/staff">Personal</a></li>
                </ul>
            </nav>

            <section>
                <article>


                    <table>
                        <form method="post" action="/add_staff">
                            <tr>
                                <td>
                                    <i class="material-icons">perm_identity</i>
                                </td>
                                <td>
                                    <input name ="title" id="title" type="text" placeholder="Titel" required> <br>
                                    <input name="staff_name" id="staff_name" type="text" placeholder="Namn" required>
                                </td>
                            </tr>
                            <tr>
                                <td><i class="material-icons">phone</i></td>
                                <td><input type="text" id="phone" name="phone" placeholder="Telefonnummer" required></td>
                            </tr>
                            <tr>
                                <td><i class="material-icons">email</i></td>
                                <td><input type="text" id="emial" name="email" placeholder="E-mail" required></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><button class="knapp" type="submit">Registrera</button></td>
                            </tr>
                        </form>
                    </table>
                </article>
            </section>


             % for row in staff:
            <section class="staff">
                <p alt="personalnummer" class="pid">{{ (row[0]) }}</p>
                <article>
                    <table>
                        <tr>
                            <td><i class="material-icons">perm_identity</i></td>
                            <td>{{ (row[2]) }} <br>{{ (row[1]) }}</td>
                        </tr>
                        <tr>
                            <td><i class="material-icons">email</i></td>
                            <td>{{ (row[4]) }}</td>
                        </tr>
                        <tr>
                            <td><i class="material-icons">phone</i></td>
                            <td>{{ (row[3]) }}</td>
                        </tr>

                    </table>
                </article>
            </section>
              % end




        </div>
    </body>
</html>
