<!DOCTYPE HTML>
<html lang="sv">
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <title>Kundlista</title>

    </head>
    <body>
        <div id="wrapper">
            <header>
                <h1>
                    <a href="/">Mörtfors vitvaror (admin)</a>
                </h1>
            </header>
            <nav>
                <ul>
                    <li><a href="/customers">Kundlista</a></li>
                    <li><a href="/inventory">Lager</a></li>
                    <li><a href="/sales">Kvitton</a></li>
                    <li><a class="active" href="/supplier">Återförsäljare</a></li>
                </ul>
            </nav>
            
            
            <div class="row">
                <ul>
                    <li><a href="/supplier/name">Kontakt</a></li>
                    <li><a href="/supplier/add">Lägg till</a></li>
                </ul>
            </div>
            
             % for row in supplier:
            <section>
                <article>
                    <table>
                        <tr>
                            <th><i class="material-icons">store</i></th>
                            <th>{{ (row[0]) }}</th>
                        </tr>
                        <tr>
                            <td><i class="material-icons">phone</i></td>
                            <td>{{ (row[1]) }}</td>
                        </tr>
                        <tr>
                            <td><i class="material-icons">web</i></td>
                            <td><a href="{{ (row[2]) }}" target="_blank">{{ (row[2]) }}</a></td>
                        </tr>
                    </table>
                </article>
            </section>
              % end
           
            
            
        </div>
    </body>
</html>
