<!DOCTYPE HTML>
<html lang="sv">
    <head>
        <meta charset="utf-8">
         <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <title>Kundlista</title>

    </head>
    <body>
        <div id="wrapper">
            <header>
                <h1>
                    <a href="/">Mörtfors vitvaror (admin)</a>
                </h1>
            </header>
            <nav>
                <ul>
                    <li><a class="active" href="/customers">Kundlista</a></li>
                    <li><a href="/inventory">Lager</a></li>
                    <li><a href="/sales">Kvitton</a></li>
                    <li><a href="/suppliers">Återförsäljare</a></li>
                    <li><a href="/staff">Personal</a></li>
                </ul>
            </nav>


            <div class="row">
                <ul>
                    <li><a href="/customers">Samtliga kunder</a></li>
                    <li><a class="active" href="/customers/values">Kundvärde</a></li>
                </ul>

            </div>
            


             % for row in customers:
            <section class="staff">
                <article>
                    <table>
                        <tr>
                            <td><i class="material-icons">perm_identity</i></td>
                            <td>{{ (row[1]) }} <br>{{ (row[0]) }}</td>
                        </tr>
                        <tr>
                            <td><i class="material-icons">email</i></td>
                            <td>{{ (row[2]) }}</td>
                        </tr>
                        <tr>
                            <td><i class="material-icons">location_on</i></td>
                            <td>{{ (row[3]) }} <br>{{ (row[4]) }} <br>{{ (row[5]) }}</td>
                        </tr>
                        <tr>
                            <td><i class="material-icons">attach_money</i></td>
                            <td>{{ row[6] }} kr</td>
                        </tr>
                    </table>
                </article>
            </section>
              % end
        </div>
    </body>
</html>
<tr>
